# Importing Libraries

In [1]:
import numpy as np
import pandas as pd

# Importing Dataset

In [2]:
import datetime as dt
dataset = pd.read_excel('./AirQualityUCI.xlsx')
dataset = dataset.drop(['Time'], axis = 1)
dataset["Date"] = pd.to_datetime(dataset["Date"])
dataset["Date"] = dataset["Date"].map(dt.datetime.toordinal)

In [3]:
dataset.head()

,Date,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,731650,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754,NaN,NaN
1,731650,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487,NaN,NaN
2,731650,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239,NaN,NaN
3,731650,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713,NaN,NaN
4,731650,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794,NaN,NaN

In [4]:
independent = dataset.iloc[ : , : 11].values
dependent = dataset.iloc[ : , 11 : 14].values

# Split Dataset Into Test Set And Train Set

In [5]:
from sklearn.model_selection import train_test_split
independent_train, independent_test, dependent_train, dependent_test = train_test_split(independent, dependent, test_size = 0.2, random_state = 0)

# Train Decision Tree Regressor Model

In [6]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(independent_train, dependent_train)

DecisionTreeRegressor(random_state=0)

# Predicting Future Values

In [7]:
dependent_predict = regressor.predict(independent_test)

In [8]:
dependent_predict

array([[  19.7249999 ,   32.52499914,    0.73959384],
       [   4.625     ,   54.57499981,    0.46821727],
       [  28.27499962,   36.69999981,    1.38778359],
       ...,
       [-200.        , -200.        , -200.        ],
       [   9.92499995,   77.69999886,    0.94973988],
       [  32.35000038,   19.44999981,    0.92788843]])

In [9]:
dependent_test

array([[  18.82499981,   31.70000076,    0.68207458],
       [   6.07499993,   43.62500095,    0.41288352],
       [  21.50000048,   45.62499905,    1.15581658],
       ...,
       [-200.        , -200.        , -200.        ],
       [  12.5250001 ,   69.29999924,    1.00287084],
       [  31.5999999 ,   25.45000029,    1.16383758]])

# Evaluating Performace Of Model

In [10]:
from sklearn.metrics import r2_score
r2_score(dependent_test, dependent_predict)

0.983421891432108