# Importing Libraries

In [7]:
import pandas as pd
import numpy as np

# Importing Dataset

In [29]:
dataset = pd.read_csv('./Country-data.csv')
# dataset = dataset.iloc[ : , : ].values

In [30]:
dataset

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200
...,...,...,...,...,...,...,...,...,...,...
162,Vanuatu,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970
163,Venezuela,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500
164,Vietnam,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310
165,Yemen,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310
166,Zambia,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460

In [25]:
type(dataset)

numpy.ndarray

In [26]:
dataset.shape

(167, 10)

# Performing OneHotEncoding

In [31]:
import category_encoders as ce
encoder = ce.HashingEncoder(cols='country', n_components=8)

In [32]:
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder
# ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder = "passthrough")
# dataset = np.array(ct.fit_transform(dataset))
feature = encoder.fit_transform(dataset)

In [34]:
print(feature)
# print(features[1])
# dataset.shape

     col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7  child_mort  \
0        0      0      0      0      0      0      0      1        90.2
1        0      0      0      0      1      0      0      0        16.6
2        0      1      0      0      0      0      0      0        27.3
3        0      0      0      0      0      0      0      1       119.0
4        0      0      0      1      0      0      0      0        10.3
..     ...    ...    ...    ...    ...    ...    ...    ...         ...
162      1      0      0      0      0      0      0      0        29.2
163      1      0      0      0      0      0      0      0        17.1
164      0      1      0      0      0      0      0      0        23.3
165      0      0      0      0      0      0      0      1        56.3
166      0      0      0      0      1      0      0      0        83.1

     exports  health  imports  income  inflation  life_expec  total_fer   gdpp
0       10.0    7.58     44.9    1610       9.44        56.2       5.82    553
1       28.0    6.55     48.6    9930       4.49        76.3       1.65   4090
2       38.4    4.17     31.4   12900      16.10        76.5       2.89   4460
3       62.3    2.85     42.9    5900      22.40        60.1       6.16   3530
4       45.5    6.03     58.9   19100       1.44        76.8       2.13  12200
..       ...     ...      ...     ...        ...         ...        ...    ...
162     46.6    5.25     52.7    2950       2.62        63.0       3.50   2970
163     28.5    4.91     17.6   16500      45.90        75.4       2.47  13500
164     72.0    6.84     80.2    4490      12.10        73.1       1.95   1310
165     30.0    5.18     34.4    4480      23.60        67.5       4.67   1310
166     37.0    5.89     30.9    3280      14.00        52.0       5.40   1460

[167 rows x 17 columns]

In [5]:
dataset[0]

array(['Afghanistan', 90.2, 10.0, 7.58, 44.9, 1610, 9.44, 56.2, 5.82, 553],
      dtype=object)